<!doctype html>
<html lang="en" id="main">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Adobe Font -->
<link rel="stylesheet" href="https://use.typekit.net/uyn2mmb.css">
<!-- Materialize.css sheet -->
<link type="text/css" rel="stylesheet" href="assets/css/materialize.css" media="screen,projection"/>
<!-- Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="assets/css/style.css" type="text/css">

<title>Tranquil Survey</title>

</head>

<body id="surveyBody">

    <!-- Header Nav Section -->
    <header>
        
        <nav class="surveyHeader z-depth-0">
            
            <div class="nav-wrapper">

                <a href="/" class="brand-logo black-text">(Logo) Tranquil</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="black-text" href="/survey".html">Home</a></li>
                    <li><a class="black-text" href="/">Logout</a></li>
                </ul>

            </div>

        </nav>

    </header>

    <main>

        <!-- Survey Carousel -->
        <div class="carousel carousel-slider center">

                <div class="carousel-item white-text" href="#one!">

                    <div class="survey-question">
                        <h3 class="white-text">What is your current mood?</h3>

                        <div class="row ">
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>  
                        </div>
                    </div>

                </div>
                <div class="carousel-item  white-text" href="#two!">

                    <div class="survey-question">
                        <h3 class="white-text">Select the level of your mood:</h3>

                        <div class="row ">
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>
                            <button class="card emoji z-depth-0" id="" value="">😀</button>     
                        </div>
                    </div>

                </div>

                <div class="carousel-item white-text" href="#three!">

                    <div class="survey-question">
                        <h3 class="white-text">How well rested rested you?</h3>

                        <div class="row ">
                            <button class="card z-depth-0" id="" value="">Well Rested</button>
                            <button class="card z-depth-0" id="" value="">Slightly Rested</button>
                            <button class="card z-depth-0" id="" value="">Neutral</button>
                            <button class="card z-depth-0" id="" value="">Tired</button>
                            <button class="card z-depth-0" id="" value="">Exhausted</button>    
                        </div>
                    </div>

                </div>

                <div class="carousel-item white-text" href="#four!">

                    <div class="survey-question">
                        <p class="white-text">Question Four:</p>

                        <div class="row ">
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>    
                        </div>
                    </div>

                </div>

                <div class="carousel-item white-text" href="#five!">

                   <div class="survey-question">

                        <p class="white-text">Question Five:</p>

                        <div class="row ">
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>
                                <button class="card emoji z-depth-0" id="" value="">😀</button>    
                        </div>

                    </div>

                    <a class="btn waves-effect white grey-text darken-text-2" id="">Submit Survey</a>
                </div>
            
            
        </div>
 
    </main>

    <!-- Site Footer -->
    <footer style="position:fixed;bottom:0;left:0;width:100%;">
           
        <div class="footer-copyright">

            <div>
                 © 2019 Copyright
                <a class="black-text right" href="/">Home</a>
            </div>
        </div>
    </footer>

    <!-- Materialize JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Modal Script -->
    <script>
         $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        noWrap: false

        });
    </script>

</body>

</html>

