<!doctype html>
<html lang="en" id="main">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Adobe Font -->
<link rel="stylesheet" href="https://use.typekit.net/uyn2mmb.css">
<!-- Materialize.css sheet -->
<link type="text/css" rel="stylesheet" href="assets/css/materialize.css" media="screen,projection"/>
<!-- Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

<title>Tranquil Survey</title>

</head>

<body id="surveyBody">

    <!-- Header Nav Section -->
    <header>
        
        <nav class="surveyHeader z-depth-0">
            
            <div class="nav-wrapper">

                <a href="/" class="brand-logo black-text">(Logo) Tranquil</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="black-text" href="/survey".html">Home</a></li>
                    <li><a class="black-text" href="/">Logout</a></li>
                </ul>

            </div>

        </nav>

    </header>

    <main>

        <!-- Survey Carousel -->
        <div class="carousel carousel-slider center">

                <div class="carousel-item white-text" href="#one!">

                    <div class="survey-question">

                        <h3 class="white-text">What is your current mood?</h3>

                        <form action="#">
                            
                            <div class="row ">
                                <button class="card emoji z-depth-0" id="" value="5">😀</button>
                                <button class="card emoji z-depth-0" id="" value="10">😐</button>
                                <button class="card emoji z-depth-0" id="" value="15">🙁</button>
                                <button class="card emoji z-depth-0" id="" value="20">😡</button>
                                <button class="card emoji z-depth-0" id="" value="25">🤯</button>  
                            </div>

                            <a class="btn waves-effect light-blue darken-1 next">Next</a>

                        </form>

                    </div>

                </div>
                <div class="carousel-item  white-text" href="#two!">

                    <div class="survey-question">
                        <h3 class="white-text">How much control do you have for the important things in your life?</h3>
                        
                        <div class="row ">
                            
                            <form action="#">
                                    <p>
                                        <label>
                                        <input name="group1" type="radio" id="" value="5"/>
                                        <span>No Control</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                        <input name="group1" type="radio" id="" value="10">
                                        <span>A Little Control</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="15"/>
                                            <span>Neutral</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="20"/>
                                            <span>Some Control</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="25"/>
                                            <span>Full Control</span>
                                        </label>
                                    </p>

                                    <a class="btn waves-effect light-blue darken-1 next">Next</a>

                            </form> 
                        </div>
                    </div>

                </div>

                <div class="carousel-item white-text" href="#three!">

                    <div class="survey-question">
                        <h3 class="white-text">How well rested rested you?</h3>

                        <div class="row ">
        
                            <form action="#">
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" id="" value="5"/>
                                        <span>Well Rested</span>
                                      </label>
                                    </p>
                                    <p>
                                      <label>
                                        <input name="group1" type="radio" id="" value="10">
                                        <span>Slightly Rested</span>
                                      </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="15"/>
                                            <span>Neutral</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="20"/>
                                            <span>Tired</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input class="group1" name="group1" type="radio" id="" value="25"/>
                                            <span>Exhausted</span>
                                        </label>
                                    </p>

                                    <a class="btn waves-effect light-blue darken-1 next">Next</a>

                            </form>  
                        </div>
                    </div>

                </div>

                <div class="carousel-item white-text" href="#four!">

                        <div class="survey-question">
                            <h3 class="white-text">how often are you upset because of something that happened unexpectedly?</h3>
    
                            <div class="row ">
                                  
                                <form action="#">
                                        <p>
                                          <label>
                                            <input name="group1" type="radio" id="" value="5" />
                                            <span>Never</span>
                                          </label>
                                        </p>
                                        <p>
                                          <label>
                                            <input name="group1" type="radio" id="" value="10">
                                            <span>occasionally</span>
                                          </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="group1" name="group1" type="radio" id="" value="15"/>
                                                <span>Neutral</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="group1" name="group1" type="radio" id="" value="20"/>
                                                <span>Sometimes</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="group1" name="group1" type="radio" id="" value="25"/>
                                                <span>Very Often</span>
                                            </label>
                                        </p>

                                        <a class="btn waves-effect light-blue darken-1 next">Next</a>

                                </form>  
                            </div>
                        </div>
    
                    </div>


                <div class="carousel-item white-text" href="#five!">

                   <div class="survey-question">

                        <h3 class="white-text">how often are you upset when things happen to you outside of your control?</h3>
                        <div class="row ">
                            
                            <form action="#">

                                <p>
                                    <label>
                                    <input name="group1" type="radio" id="" value="5"/>
                                    <span>Never </span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                    <input name="group1" type="radio" id="" value="10">
                                    <span>occasionally</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input class="group1" name="group1" type="radio" id="" value="15"/>
                                        <span>Neutral</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input class="group1" name="group1" type="radio" id="" value="20"/>
                                        <span>Sometimes</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input class="group1" name="group1" type="radio" id="" value="25"/>
                                        <span>Very Often</span>
                                    </label>
                                </p>

                                <a class="btn waves-effect light-blue darken-2" id="submit-survey">Submit</a>

                            </form> 

                        </div>

                    </div>

                </div>
            
            
        </div>
 
    </main>

    <!-- Site Footer -->
    <footer style="position:fixed;bottom:0;left:0;width:100%;">
           
        <div class="footer-copyright">

            <div id="footer-content">
                 © 2019 Copyright
                <a class="black-text right" href="/">Home</a>
            </div>
        </div>
    </footer>

    <!-- Materialize JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Modal Script -->
    <script>
         $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        noWrap: false

        })

        $('.next').click(function() {
                $('.carousel.carousel-slider').carousel('next');
        });



         // userId will be the user id that we get back from api request
         window.location.href = '/results/' + userId

    </script>

</body>

</html>

