<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <div class="form-group">
        <label for="username">username</label>
        <input
          type="name"
          class="form-control"
          id="username"
          placeholder="type your name here"
        />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="name"
          class="form-control"
          id="name"
          placeholder="type your name here"
        />
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="type your password here"
        />
      </div>
      <div class="form-group">
        <label for="question1">Example select</label>
        <select class="form-control" id="question1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="question2">Example select</label>
        <select class="form-control" id="question2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="question3">Example select</label>
        <select class="form-control" id="question3">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="question4">Example select</label>
        <select class="form-control" id="question4">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button id="survey" type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
    <script type="text/javascript">
      // When we click on the submit button
      $("button[type=submit]").on("click", function() {
        // We make sure that it doesn't do what its supposed to
        event.preventDefault();

        // We capture the users input, in this case the most important thing is the answers to the survey
        var userInput = {
          name: $("#name")
            .val()
            .trim(),
          password: $("#password")
            .val()
            .trim(),
          data: []
        };
        // here we have to give every question the same class name so we can capture how many questions we have
        var answerCount = document.getElementsByClassName("").length;

        // Then we can set the itteration  to answerCount so we itterate through all the questions
        for (let i = 1; i < 5; i++) {
          // if we give every question the same structure for the ID (in this case question  + a number)
          var userScore = $("#question" + [i]).val();

          // we can itterate through all the questions and capture their values which we push into a array
          userInput.data.push(userScore);
        }

        // we check, and check again, until we can't check no more
        console.log(userInput);

        // We send everything off with a bow and ribbon to the server
        $.post("/api/survey", userInput, function(data) {
          console.log(data);

          // And present a new route to the server which will hit a get request which will in this case give us the results page
          window.location.replace("/result");
        });
      });
    </script>
  </body>
</html>
